/*
* @Author: Lenovo
* @Date:   2017-07-22 15:26:54
* @Last Modified by:   Lenovo
* @Last Modified time: 2017-07-23 15:44:18
*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


/*头部*/

header {
	width: 100%;
	height: 0.92rem;
	background: #0078E6;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.head1 {
	width: 100%;
	height: 0.92rem;
}

.head-box {
	width: 2.01rem;
	height: 0.92rem;
	/*background: yellow;*/
	margin: 0 auto;
}

.head-tubiao {
	width: 0.7rem;
	height: 0.67rem;
	/*background: pink;*/
	float: left;
	margin-top: 0.13rem;
}

.head-tubiao img {
	width: 100%;
	height: 100%;
	display: block;
}

.head-wenzi {
	width: 1.15rem;
	height: 100%;
	/*background: pink;*/
	float: left;
	margin-left: 0.16rem;
	font-size: 0.34rem;
	color: white;
	text-align: center;
	line-height: 0.92rem;
}


/*banner*/

.banner {
	width: 100%;
	height: 2.8rem;
	background: pink;
}

.banner img {
	width: 100%;
	height: 100%;
}


/*首页*/

.shouye {
	width: 100%;
	height: 0.82rem;
	background: #f5f6fa;
}

.shouye1 {
	display: block;
	font-size: 0.22rem;
	color: black;
	float: left;
	line-height: 0.82rem;
	margin-left: 0.23rem;
}

:root{
	width: 100%;
	height: 16.8rem;
	background: #f5f6fa;
}
/* html5页面的发展趋势  */
.h5fz{
	width: 100%;
	height: 3.36rem;
	background: #ffffff;
	margin-bottom: 0.03rem;
}
.fzwen-top{
	width: 100%;
	height: 0.56rem;
	background: #ffffff;
	padding-top: 0.1rem;
}
.fzwen{
	width: 3.35rem;
	height: 0.45rem;
	background: #ffffff;
	/* margin-top: 0.1rem; */
	margin-left: 0.27rem;
	font-size: 0.23rem;
	color: #000000;
	font-weight: bolder;
	line-height: 0.45rem;
}
.fz-center{
	width: 7.26rem;
	height: 1.56rem;
	background: #ffffff;
	margin-left: 0.24rem;
	margin-top: 0.05rem;

}
.fz-zuo{
	width: 2.04rem;
	height: 1.56rem;
	background: #ffffff;
	float: left;
	/* position: relative; */
}
.fz-zuotu{
	width: 1.91rem;
	height: 1.43rem;
	background: #ffffff;
	border: 0.01rem solid #01b5ff;
	position: relative;
	margin-left: 0.1rem;
}
.landian{
	width: 0.03rem;
	height: 0.03rem;
	background: #01b5ff;
	position: absolute;
	top: -0.02rem;
	left: -0.02rem;
}
.landian1{
	width: 0.03rem;
	height: 0.03rem;
	background: #01b5ff;
	position: absolute;
	top: -0.02rem;
	right: -0.02rem;
}
.landian2{
	width: 0.03rem;
	height: 0.03rem;
	background: #01b5ff;
	position: absolute;
	bottom: -0.02rem;
	left: -0.02rem;
}
.landian3{
	width: 0.03rem;
	height: 0.03rem;
	background: #01b5ff;
	position: absolute;
	bottom: -0.02rem;
	right: -0.02rem;
}
.huik{
	width: 1.91rem;
	height: 1.43rem;
	background: #c8c8c8;
	position: absolute;
    left: -0.1rem;
    bottom:-0.1rem;
}
.fz-you{
	width: 5rem;
	height: 1.51rem;
	background: #ffffff;
	float:left; 
	margin-left: 0.2rem;
	margin-top: 0.05rem;
	font-size: 0.23rem;
	color: #494747;
}
.fz-bottom{
    width: 7.01rem;
    height: 0.62rem;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 0.19rem;
    border-top: 0.01rem solid #cecece;
    border-bottom: 0.01rem solid #cecece;

}
.dianji{
	width: 1.7rem;
	height: 0.31rem;
	background: #ffffff;
	float: left;
    margin-top: 0.16rem;
    margin-left: 0.05rem;
}
.djtu{
    width: 0.3rem;
    height: 0.31rem;
    background: #ffffff;
    float: left;
}
.djtu img{
	display: block;
    width: 0.3rem;
    height: 0.31rem;
}
.djwen{
	width: 1.25rem;
	height: 0.31rem;
	background: #ffffff;
	float: left;
	margin-left: 0.1rem;
	font-size: 0.16rem;
	color: #666666;
}
.dianji1{
	width: 2.5rem;
	height: 0.31rem;
	background: #ffffff;
	float: left;
    margin-top: 0.16rem;
    margin-left: 0.13rem;
}
.djwen1{
	width: 2.1rem;
	height: 0.31rem;
	background: #ffffff;
	float: left;
	margin-left: 0.1rem;
	font-size: 0.16rem;
	color: #666666;
}
/*跳转*/
.tiaozhuan {
	width: 100%;
	height: 0.7rem;
	background: white;
}

.tiaozhuan ul {
	margin-left: 0.37rem;
	float: left;
	/*background: pink;*/
}

.tiaozhuan ul li {
	margin-right: 0.14rem;
	background: yellow;
	float: left;
	margin-top: 0.19rem;
}

.tiaozhuan ul li img {
	height: 0.32rem;
	display: block;
}

.tz1 {
	font-size: 0.12rem;
	color: black;
	line-height: 0.32rem;
	/*width: 0.4rem;*/
	/*height: 0.32rem;*/
	float: left;
	margin-top: 0.19rem;
	margin-left: 0.16rem;
}

.tz2 {
	width: 0.42rem;
	height: 0.32rem;
	float: left;
	margin-top: 0.19rem;
	margin-left: 0.1rem;
}

.tz2 img {
	width: 100%;
	height: 100%;
	float: left;
	display: block;
}

.tz3 {
	font-size: 0.12rem;
	color: black;
	line-height: 0.32rem;
	/*width: 0.14rem;*/
	/*height: 0.32rem;*/
	float: left;
	margin-top: 0.19rem;
	margin-left: 0.1rem;
}

.go {
	width: 0.32rem;
	height: 0.32rem;
	float: left;
	margin-top: 0.19rem;
	margin-left: 0.2rem;
}

.go img {
	width: 100%;
	height: 100%;
	display: block;
}

/*底部*/
footer {
	width: 100%;
	height: 0.92rem;
	background: #f5f6fa;
}

.foot {
	display: block;
	font-size: 0.2rem;
	color: #666666;
	text-align: center;
	padding-top: 0.14rem;
}



