/*
* @Author: Lenovo
* @Date:   2017-07-20 18:04:42
* @Last Modified by:   Lenovo
* @Last Modified time: 2017-07-23 20:17:04
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
header{
	width: 100%;
	height: 0.79rem;
	background: #0078e6;
	padding-top: 0.53rem;
	position: fixed;
	z-index: 999;
}
.head{
	width: 100%;
	height: 0.79rem;
}
.logal{
	width: 2.04rem;
	height: 0.67rem;
	background: #0078e6;
	margin: 0 auto;

}
.logaltu{
	width: 0.7rem;
	height: 0.67rem;
	background:  #0078e6;
	float: left;
}
.logaltu img{
	display: block;
	width: 0.7rem;
	height: 0.67rem;
}
.yyk{
	width: 1.21rem;
	height: 0.67rem;
	background:  #0078e6;
	float: left;
	margin-left: 0.13rem;
	font-size: 0.35rem;
	color: #ffffff;
	text-align: center;
	line-height: 0.67rem;
}
/* banner */
.banner{
	width: 100%;
	height: 2.8rem;
	background:  #f5f6fa;
}
.bjt{
	display: block;
	width: 100%;
	height: 2.8rem;
	background:  #f5f6fa;
}
.bjt img{
	width: 100%;
	height: 2.8rem;
}
/* 导航列表 */
.list-dh{
	width: 100%;
	height: 5rem;
	background: #f5f6fa;
}
.list-dh ul a li{
	width: 25%;
	height: 2.405rem;
	background: #f5f6fa;
	float: left;
}
.list1-top{
	width: 1.56rem;
	height: 1.56rem;
    background: #f5f6fa;
    margin: 0 auto;
    margin-top: 0.29rem;
    border-radius: 25%;
}
.list1-top img{
	width: 1.56rem;
	height: 1.56rem;
	border-radius: 25%;
}
.list1-wen{
	width: 1.56rem;
	height: 0.42rem;
	background: #f5f6fa;
	 margin: 0 auto;
	 font-size: 0.19rem;
	 color: #000000;
	 text-align: center;
	 line-height: 0.42rem;
	 margin-top: 0.13rem;
}
/* 服务体系 */
.fwtx{
	width: 100%;
	height: 4.22rem;
	background: #890;
}
.fwtx-top{
	width: 100%;
	height: 0.63rem;
	background: #ffffff;

}
.fwtx-wen{
	width: 1.4rem;
	height: 0.63rem;
	background: #ffffff;
	margin: 0 auto;
	font-size: 0.23rem;
	color: #488dc6;
	text-align: center;
	line-height: 0.63rem;
}
.fwtx-bottom{
	width: 100%;
	height: 3.59rem;
	background: #ffffff;
}
.fw-top{
	width: 100%;
	height: 2.18rem;
	background: #ffffff;
}
.zuo{
	width: 50%;
	height: 2.18rem;
	background: #ffffff;
	border-right: 0.01rem solid #e8e8e8;
	border-top: 0.01rem solid #e8e8e8;
    box-sizing: border-box;
    float: left;
}
.zuowen{
	width: 1.71rem;
	height: 0.77rem;
	background: #ffffff;
	float: left;
	margin-top: 0.39rem;
	margin-left: 0.16rem;
}
.ziyi{
	width: 1.2rem;
	height: 0.3rem;
	background: #ffffff;
	font-size: 0.24rem;
	color: #000000;
	/* text-align: center; */
	line-height: 0.3rem;
	margin-bottom: 0.17rem;
}
.zier{
	/* width: 1.7rem; */
	height: 0.2rem;
	background: #ffffff;
	font-size: 0.18rem;
	color: #a1a1a1;
	/* text-align: center; */
	line-height: 0.2rem;
}
.zuotu{
	width: 1.37rem;
	height: 1.33rem;
	background: #ffffff;
	float: left;
	margin-left: 0.25rem;
	margin-top: 0.39rem;
    
}
.zuotu img{
	width: 1.37rem;
	height: 1.33rem;
}
.fw-bottom{
	width: 100%;
	height: 1.39rem;
	background: #ffffff;
}
.fw-bottom ul a li{
	width: 33.333333%;
	height: 1.39rem;
	background: #ffffff;
	border-right: 0.01rem solid #e8e8e8;
	border-top: 0.01rem solid #e8e8e8;
	float: left;
    box-sizing: border-box;
}
.dnt{
	width: 0.62rem;
	height: 0.62rem;
	background: #ffffff;
	margin-left: 0.19rem;
	margin-top: 0.29rem;
	float: left;
}
.dnt img{
	width: 0.62rem;
	height: 0.62rem;
	display: block;
}
.dntwen{
	width: 1.41rem;
	height: 0.77rem;
	background: #ffffff;
	float: left;
	margin-left: 0.14rem;
	margin-top: 0.29rem;
}
/* 底部*/
.dibu{
	width: 100%;
	height: 1.2rem;
	background: #f5f6fa;
	padding-top: 0.2rem;
}
.neirong{
	width: 100%;
	height: 0.8rem;
	background: #ffffff;
	margin: 0 auto;
}
.neirong ul a li{
	width: 33.333333%;
	height: 0.8rem;
	background: #ffffff;
	float: left;
}
.nrzuo{
	width: 1.65rem;
	height: 0.4rem;
	background: #ffffff;
	float: left;
	margin: 0 auto;
	margin-top: 0.19rem;
	margin-left: 0.35rem;
}
.nrzuotu{
	width: 0.31rem;
	height: 0.31rem;
	background: #ffffff;
	margin-top: 0.05rem;
	float: left;
}
.nrzuotu img{
	width: 0.31rem;
	height: 0.31rem;
	display: block;
}
.nrzuowen{
	width: 1.21rem;
	height: 0.33rem;
	background: #ffffff;
	float: left;
	margin-left: 0.12rem;
	margin-top: 0.05rem;
	font-size: 0.24rem;
	color: #000000;

}